$IMCCONFIG

# IMC2 Freedom CL-1c SWR1.0config file.
# This file can now support the use of tildes in your strings.
# This information can be edited online using the 'imcconfig' command.
LocalName      DW-DEV
Autoconnect    1
MinPlayerLevel 1
MinImmLevel    151
AdminLevel     154
Implevel       155
InfoName       Dark Warriors Development
InfoHost       S010600131096d95e.cg.shawcable.net
InfoPort       4848
InfoEmail      mark.gottselig@shaw.ca
InfoWWW        Invalid
InfoBase       SWR1.0
InfoDetails    Just a testing port

# Your router connection information goes here.
# This information should be available from the network you plan to join.
RouterAddr     server02.intermud.us
RouterPort     9000
ClientPwd      moocow
ServerPwd      moocow1
#MD5 auth: 0 = disabled, 1 = enabled
MD5            1
#Your router is expecting MD5 authentication now. Do not remove this line unless told to do so.
MD5Pwd         1
End

$END
